/* Variables */

:root {
    --font-headings: "Asap Condensed", sans-serif;
    --font-paragraphs: "Poppins", sans-serif;
    --purple-dark: rgba(80, 53, 116, 1);
    --purple-light: rgba(175, 141, 214, 1);
    --purple-grey: rgba(203, 194, 212, 1);
    --yellow: rgba(237, 234, 62, 1);
    --cyan: rgba(3, 244, 212, 1);
    --cyan-40: rgba(3, 244, 212, 0.4);
    --green: rgba(100, 202, 41, 1);
    --red: rgba(237, 38, 41, 1);
    --black: rgba(0, 0, 0, 1);
    --black-80: rgba(0, 0, 0, 0.8);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-40: rgba(0, 0, 0, 0.4);
    --black-20: rgba(0, 0, 0, 0.2);
    --white: rgba(255, 255, 255, 1);
}

/* Typography */

h1, h2, h3, h4, h5, th {
    font-family: var(--font-headings);
    font-weight: 500;
}

h1 {
    font-size: 2.7rem;
    line-height: 44px;
}

h2 {
    font-size: 2.5rem;
}

h3, th {
    font-size: 1.8rem;
    color: var(--purple-light);
}

h4 {
    font-weight: bold;
    font-size: 1rem;
    color: var(--purple-dark);
}

.section-header {
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    color: var(--purple-dark);
}

.section-subheader {
    line-height: 40px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-paragraph {
    margin-bottom: 1rem;
    line-height: 25px;
    max-width: 60ch;
}

p {
    color: var(--black-80);
}

a, p, button, form, label, input, textarea, address, td {
    font-family: var(--font-paragraphs);
    font-weight: 400;
}

input {
    padding: 0;
    border: none;
    border-radius: 10px;
    height: 50px;
    text-indent: 16px;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.button {
    margin: 0 auto;
    display: block;
    border: 0;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.button--yellow {
    background-color: var(--yellow);
    color: var(--purple-dark);
}

.button--purple {
    background-color: var(--purple-light);
    color: var(--white);
}

.button--red {
    background-color: var(--red);
    color: var(--white);
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

/* GENERAL STYLING */

* {
    box-sizing: border-box;
}

.container-full-width {
    width: 100%;
}

.layout-container {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 16px;
}

header {
    background-color: var(--purple-dark);
    height: 80px;
    position: fixed;
    z-index: 9999;
}

main {
    height: auto;
    /* padding-top: 80px; */
}

footer {
    background-color: var(--purple-dark);
    height: auto;
}

/* section:not(section:nth-of-type(1)) {
    padding: 100px 0;
} */

section {
    padding: 80px 0 50px 0;
}

img {
    width: 100%;
}

.image-wrapper {
    border-radius: 20px;
    overflow: hidden;
}

.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.productCard {
    max-width: 300px;
}

.addOnCard {
    max-width: 300px;
}

#paypal-button-container {
    max-width: 100px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.customerInfoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profileCard {
    border: 2px solid black;
    margin: 20px;
    width: 300px;
}

.subActive {
    background-color: green;
}

.subInactive {
    background-color: red;
}