h1 {
    color: green;
}

.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.buyCard {
    max-width: 100px;
}

a {
    margin-right: 10px;
}

#paypal-button-container {
    max-width: 100px;
}