/* MOBILE - Orientation Landscape */

@media screen and (min-width: 380px) {
    .slider-dots {
        display: none;
    }
}

@media screen and (min-width: 667px) {
    .explainer {
        height: 367px;
        padding: 0;
    }
    .navigation-list__item-link {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .solutions .text-container {
        display: flex;
        flex-wrap: wrap;
    }
    .solutions .product-description {
        flex-basis: 50%;
        padding-right: 16px;
    }
    .solutions .product-fees {
        flex-basis: 50%;
    }
    .solutions .dropdown-container {
        flex-grow: 1;
    }
    .solution .background-sphere--left {
        left: -50%;
        transform: translateX(50%);
    }
    .account-details__contact .contact__wrapper {
        width: 49%;
        display: flex;
        flex-direction: column;
    }
    .infobox-container {
        position: relative;
    }
    .infobox {
        left: -20%;
        transform: translate(20%, -50%);
        top: 50%;
    }
}

/* Tablet */

@media screen and (min-width: 768px) {
    #intro {
        height: 100vh;
    }
    .solutions .product {
        display: flex;
        justify-content: space-between;
    }
    .solutions .product>.text-wrapper {
        flex-basis: 50%;
        max-width: 500px;
        padding-right: 32px;
    }
    .solutions .product>.text-container {
        flex-basis: 50%;
        max-width: 500px;
        display: block;
        margin-top: 25%;
        transform: translateY(-25%);
    }
    .solutions .section-image {
        height: auto;
        border-radius: 20px 20px 20px 20px;
    }
    .product>.place-right {
        padding-right: 0 !important;
        padding-left: 32px;
    }
    .checkout-container {
        display: flex;
        width: 100%;
    }
    .account-details, .order-summary-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .account-details {
        padding-right: 16px;
    }
    .order-summary-container {
        padding-left: 16px;
    }
    .footer {
        justify-content: center;
    }

    .account-details__contact .contact__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .account-information {
        flex-direction: row;
        justify-content: space-between;
    }
    .customer-information, .product-overview {
        width: 49%;
    }
    .customer-information {
        margin-top: 0;
        order: 0;
    }
    .delete-profile__button-container {
        justify-content: center;
    }
    .delete-profile__button {
        margin: 0 auto;
    }
}

/* DESKTOP - Orientation Landscape */

@media screen and (min-width: 1023px) {
    #intro {
        height: 100vh;
    }
    #use-case {
        height: 650px;
    }
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .intro__heading {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 4rem;
        max-width: 395px;
        line-height: 65px;
    }
    .intro__video {
        flex-basis: 50%;
        height: auto;
        margin-right: 0;
    }
    .explainer {
        margin: 0;
        margin-left: auto;
    }
    .navigation-hamburger {
        display: none;
    }
    .navigation-wrapper {
        height: 100%;
    }
    .navigation-list-wrapper {
        display: flex;
        position: relative;
        background-color: initial;
        width: auto;
        height: 100%;
        top: 0;
    }
    .navigation-list {
        flex-direction: row;
        padding-right: 10px;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        align-items: center;
        margin: auto 0;
    }
    .navigation-list__item {
        text-align: initial;
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .navigation-list__item-link {
        width: auto;
        font-size: 0.8rem;
        color: var(--white);
    }
    /* SECTION - USE CASE */
    .use-case {
        display: flex;
    }
    .use-case .text-wrapper {
        flex-basis: 50%;
        padding-right: 32px;
    }
    .use-case .image-container {
        flex-basis: 50%;
    }
    .use-case .background-sphere {
        top: -20%;
        left: -5%;
    }
    .account-details__contact .contact__wrapper {
        width: 49%;
        display: flex;
        flex-direction: column;
    }
}