.navigation-contatiner {
    height: 100%;
    display: flex;
    align-items: center;
}

.no-scroll {
    position: fixed;
}

.navigation {
    position: relative;
}

.navigation__logo {
    max-width: 150px;
}

.navigation--wrapper {
    margin-left: auto;
}

/* Hamburger */

.navigation-hamburger {
    position: relative;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.navigation-hamburger__line {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--yellow);
    top: 50%;
    transform: translateY(-50%);
}

.navigation-hamburger__line:nth-of-type(1) {
    top: 0;
    transform: translateY(100%);
}

.navigation-hamburger__line:nth-of-type(3) {
    top: initial;
    bottom: 0;
    transform: translateY(-100%);
}

/* Navigation List */

.navigation-list-wrapper {
    position: absolute;
    z-index: 100;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: khaki;
    overflow: scroll;
}

.navigation-list-wrapper--hidden {
    display: none;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    margin: 25% 0;
    margin-right: 16px;
}

.navigation-list__item {
    margin: 1.5rem 0;
    margin-left: auto;
}

.navigation-list__item-link {
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    color: var(--black-80);
    text-transform: uppercase;
}

.navigation-list__item-link:hover {
    color: var(--yellow);
}

.navigation-list__item .navigation-list__item-link--active {
    color: var(--yellow);
}

.cart-counter {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--red);
    color: var(--white);
    z-index: 9000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10px;
    right: -10px;
    font-size: 0.7rem;
}