#solutions {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.solutions {
    position: relative;
}

.solutions .product {
    position: relative;
    margin-top: 80px;
}

.solutions .background-sphere {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vw;
    max-width: 800px;
    max-height: 800px;
    min-width: 600px;
    min-height: 600px;
    border-radius: 100%;
    opacity: 0.4;
    z-index: -2;
}

.section-image {
    height: 300px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    display: block;
    max-width: 500px;
}

.background-sphere--top {
    top: -80px !important;
}

.background-sphere--left {
    left: -300px;
}
.background-sphere--right {
    right: -300px;
}

.place-right {
    order: 2;
}

.place-right > .section-subheader,
.place-right > .section-header {
    text-align: right;
}

.background-sphere--purple {
    background-color: var(--purple-grey);
}
.background-sphere--yellow {
    background-color: var(--yellow);
}
.background-sphere--cyan {
    background-color: var(--cyan);
}

.text-container__background-block {
    position: absolute;
    top: 0;
    left: -16px;
    width: calc(100% + 32px);
    height: 100%;
    background-color: var(--white);
    z-index: -1;
}

.solutions .text-container {
    position: relative;
}

.product-link {
    position: absolute;
    top: 0;
}

.product-fees {
    margin-bottom: 32px;
}

.product-fee__list {
    font-family: var(--font-paragraphs);
    line-height: 25px;
    color: var(--black-80);
    list-style-type: none;
    list-style-position: inside;
}

.product-fee__list-item {
    position: relative;
    margin-left: 32px;
}
.product-fee__list-item::before {
    position: absolute;
    content: "\2022";
    color: var(--purple-dark);
    font-weight: bold;
    display: inline-block;
    left: -16px;
}

.dropdown {
    font-family: var(--font-paragraphs);
    position: relative;
}

.dropdown__label {
    font-size: 0.8rem;
    color: var(--purple-dark);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: end;
}

.dropdown__button {
    display: flex;
    height: 40px;
    justify-content: end;
    color: var(--purple-dark);
    font-weight: bold;
    cursor: pointer;
}

.dropdown__button::after {
    content: "";
    margin-left: 1rem;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: var(--purple-dark);
    transform: rotate(45deg);
}

.dropdown-list-container {
    position: relative;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid var(--purple-dark);
    margin-bottom: 1.5rem;
}

.dropdown__list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.dropdown-list-container--hidden {
    display: none;
}

.dropdown__list-item {
    display: flex;
    height: 40px;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.dropdown__list-item:hover {
    background-color: var(--purple-dark);
    color: var(--white);
}

.dropdown__list-item--active {
    color: var(--black-40);
}

.dropdown__list-item--active::before {
    content: "\2713 ";
    color: var(--green);
    margin-right: 16px;
}

.add-to-cart {
    margin: 0 auto;
    display: block;
    border: 0;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--yellow);
    text-transform: uppercase;
    color: var(--purple-dark);
    font-weight: bold;
    letter-spacing: 1px;
}

.dialog-box {
    position: absolute;
    width: 400px;
    height: 80px;
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 10px;
    display: flex;
    top: -100%;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.dialog-box--hidden {
    display: none;
}
