#cart {
    /* background-color: var(--purple-light); */
}

.cart {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cart .section-header {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.checkout-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.account-details,
.order-summary-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.account-details {
    padding-right: 16px;
}
.account-details label {
    color: var(--purple-dark);
}

.account-details input {
    margin-top: 8px;
    margin-bottom: 32px;
    border: 2px solid var(--purple-light);
}

.order-summary-container {
    padding-left: 16px;
}

.order-summary {
    margin-top: 24px;
    border: 2px solid var(--purple-light);
    border-radius: 20px;
    height: auto;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

.order-summary__button {
    width: auto;
    align-self: end;
}

.order-list {
    width: 100%;
    border-spacing: 8px;
}

.order-list__headers {
    text-align: left;
}
.order-list__headers > * {
    font-size: 1rem;
    height: 50px;
}

.order-list__quantity-header {
    text-align: center;
}

.order-list__price-header {
    text-align: right;
}

.order-list__item {
    height: 50px;
    margin-bottom: 8px;
    border-collapse: collapse;
}

.order-list__item > * {
    vertical-align: middle;
}

.order-list__item-quantity {
    text-align: center;

    position: relative;
}

.order-list__item-quantity::before {
    cursor: pointer;
    content: "";
    background-image: url("../Assets/icons/remove.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
}

.order-list__item-price {
    text-align: right;
}

.order-list__item-price::before {
    content: "\20AC";
}
