.cart {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cart .section-header {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.checkout-container {
    width: 100%;
}

.account-details, .order-summary-container {
    display: flex;
    flex-direction: column;
}

.account-details__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-details__contact .contact__header {
    flex-grow: 3;
    flex-basis: 100%;
}

.account-details__contact .contact__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account-details__label {
    color: var(--purple-dark);
    position: relative;
}

.account-details input {
    margin-top: 8px;
    margin-bottom: 32px;
    border: 2px solid var(--purple-light);
}

/* NEW TABLE SETUP */

.order-summary {
    margin-top: 24px;
    border: 2px solid var(--purple-light);
    border-radius: 10px;
    height: auto;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.order-summary__header {
    width: 100%;
    height: 50px;
}

.order-summary__body {
    height: 100%;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 16px;
}

.order-summary__body::-webkit-scrollbar {
    display: none;
}

.order-summary__button {
    background-color: var(--purple-grey);
    width: 200px;
    height: 35px;
    border-radius: 5px;
    white-space: nowrap;
    text-transform: none;
    margin-bottom: 3px;
    margin-left: 1px;
    cursor:initial;
    font-style: italic;
    font-family: "helvetica neue";
    color: var(--white);
}
.order-summary__button:hover {
    transform: none;
}

.paypal-button-container {
    margin: 0 auto;
    margin-top: auto;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
}

.header-item {
    flex-grow: 1;
}

.header-item__quantity {
    text-align: right;
}

.header-item__price {
    text-align: right;
}

.product-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 15px;
}
.product-row {
    display: grid;
    height: auto;
    min-height: 50px;
    grid-template-rows: 2fr 1fr;
    gap: 8px;
    margin-bottom: 16px;
    border: 2px solid var(--purple-light);
    border-radius: 10px;
    padding: 8px;
}

.product-items:only-child {
    grid-row: 1 / span 2;
}

.product-items {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.product-item {
    align-self: center;
}
.product-item__quantity {
    justify-self: end;
    position: relative;
}

.product-item__price {
    text-align: right;
}

.product-item__price::before {
    content: "\20AC";
}

.product-item__delete {
    cursor: pointer;
    background-image: url("../assets/icons/remove.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.subscription-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subscription-row__text {
    margin-left: 32px;
    color: var(--black-60);
}

.subscription-row__price::before {
    content: "\20AC";
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty-cart__text {
    text-align: center;
}

.product-row+.empty-cart {
    display: none;
}

.account-details .invalid {
    border: 2px solid var(--red);
}

.account-details .valid {
    border: 2px solid var(--green);
}

/* ---------------- */