.login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-header {
    width: auto;
    max-width: 500px;
    margin: 32px auto;
    margin-bottom: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--purple-light);
    border-radius: 20px;
    padding: 32px;
}

.login-form__label {
    color: var(--purple-dark);
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
.login-form__label-info-box {
    background-color: var(--purple-dark);
    color: var(--white);

    position: absolute;
    left: -34px;
    top: -140px;
    padding: 16px;
    border-radius: 10px;
    width: calc(375px - 32px);
}
.login-form__label-info-box--hidden {
    display: none;
}

.login-form__label-info-box li {
    list-style: none;
    margin-left: 16px;
}

.login-form__label-info-box li::before {
    content: "\2022";
    color: var(--white);
    font-weight: bold;
    display: inline-block;
    width: 8px;
    margin-right: 8px;
}

.login-form__label-info-outer:hover + .login-form__label-info-box {
    display: block;
}

.login-form__label-info-outer {
    padding: 10px;
    color: var(--white);
}

.login-form__label-info-inner {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--purple-dark);
}

.login-form__label-info-inner::after {
    content: "?";
    position: absolute;
    left: 6px;
    top: 2px;
    font-family: var(--font-paragraphs);
}

.login-form__input {
    margin-top: 8px;
    margin-bottom: 32px;
    border: 2px solid var(--purple-light);
}
