.order-confirmation-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 64px auto;
    justify-content: center;
    max-width: 60ch;
}
.order-confirmation-summary > p{
    font-size: 1.1em;
    margin-top: 15px;
}
.order-confirmation-summary-text{
    font-weight: bold;
}

.order-confirmation-summary .section-header {
    text-align: center;
    line-height: 50px;
}
