.login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-header {
    width: auto;
    max-width: 500px;
    margin: 32px auto;
    margin-bottom: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--purple-light);
    border-radius: 20px;
    padding: 32px;
}

.login-form__label {
    color: var(--purple-dark);
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}

.login-form__input {
    margin-top: 8px;
    margin-bottom: 32px;
    border: 2px solid var(--purple-light);
}
