#intro {
    background-color: var(--purple-light);
    height: auto;
    max-height: 800px;
    overflow: hidden;
}

.intro {
    height: 100%;
    position: relative;
    padding-top: 32px;
}

.intro-heading {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 55px;
}

.video-container {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.explainer-video {
    max-height: 392px;
    max-width: 584px;
    overflow: hidden;
    position: relative;
    min-height: 230px;
    padding-top: calc(591.44 / 1127.34 * 100%);
    margin: 0 auto;
}

.explainer-video__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    text-indent: -9999px;
    background-image: url("../Assets/images/video-tumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.play-button-circle {
    width: 100px;
    height: 100px;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button-triangle {
    display: block;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #7048e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.intro .background-sphere {
    position: absolute;
    bottom: 6%;
    right: -15%;
    height: 60vw;
    width: 60vw;
    min-height: 305px;
    min-width: 305px;
    max-height: 650px;
    max-width: 650px;
    display: block;
    background-color: white;
    opacity: 0.6;
    border-radius: 50%;
}

/* Mobile */

@media screen and (min-width: 667px) and (orientation: Landscape) {
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

    .intro-heading {
        flex-basis: 48%;
        text-align: left;
    }
    .video-container {
        flex-basis: 52%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    #intro {
        height: 100vh;
    }
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .intro-heading {
        flex-basis: 48%;
        text-align: initial;
        margin: 0;
    }
    .video-container {
        flex-basis: 50%;
        height: auto;
    }
}

@media screen and (min-width: 1023px) and (orientation: Landscape) {
    #intro {
        height: 100vh;
    }

    .intro {
        padding-top: 0;
        padding-bottom: 0;
    }

    .intro-heading {
        font-size: 4rem;
        max-width: 395px;
        line-height: 65px;
    }

    .explainer-video {
        margin: 0;
        margin-left: auto;
    }
}
