.profile {
    margin-top: 32px;
    margin-bottom: 32px;
}

.profile__main {
    position: relative;
}

.modal--delete {
    z-index: 9000;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    background-color: var(--yellow);
    color: var(--purple-dark);
    position: fixed;
    top: calc(50% + 32px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.modal--hidden {
    display: none;
}

.modal--shown {
    display: block;
}

.modal-form {
    margin: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal-form .form-wrapper {
    margin-bottom: 16px;
}

.modal-form .customer-password-form__input {
    margin-bottom: 0;
}

.modal-form .customer-password-form__input-label {
    height: auto;
}

.modal-form .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.delete-profile__button-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
    margin: 16px 0;
}

.delete-profile__button:nth-of-type(1) {
    margin-right: 16px;
}

.profile__header {
    text-align: center;
}

.account-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.customer-information {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 36px;
}

.product-overview {
    width: 100%;
}

.customer-information .customer-information__button {
    width: 200px;
}

.customer-information-container {
    border: 2px solid var(--purple-light);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.customer-information-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.customer-information__item {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.customer-information__item--hidden {
    display: none !important;
}

.customer-information-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.customer-information-form .form__button {
    background-color: transparent;
    background-size: cover;
    border: none;
    height: 20px;
    width: 20px;
}

.form__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100px;
}

.customer-information-form .form__input {
    width: 100%;
    border: 2px solid var(--purple-light);
}

.customer-information__customer_company_cvr .customer-information__item__text::before {
    content: "CVR: ";
    font-family: var(--font-paragraphs);
}

.customer-password-form .invalid, .customer-information-form .invalid {
    border: 2px solid var(--red);
}

.customer-password-form .valid, .customer-information-form .valid {
    border: 2px solid var(--green);
}

.customer-information-form .form__button--submit {
    background-image: url("../assets/icons/check.svg");
}

.customer-information-form .form__button--cancel {
    background-image: url("../assets/icons/remove.svg");
}

.customer-information__item__text {
    margin: 0;
}

.customer-information__item__icon-outer {
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
    /* margin-right: 32px; */
}

.customer-information__item__icon-inner {
    pointer-events: none;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/pencil.svg");
    background-size: cover;
}

.customer-password-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.customer-password-form__input-label {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
}

.customer-password-form__input-label .infobox {
    left: -18px;
    z-index: 10;
}

.customer-password-form__input {
    margin-bottom: 32px;
    border: 2px solid var(--purple-light);
}

.customer-password-form__button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

/* Product overview */

.product-card {
    border: 2px solid var(--purple-light);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 16px;
}

.product-card__header {
    color: var(--purple-dark);
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.product-card__arrow-outer {
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 15px);
    -webkit-transform: translateY(calc(-50% + 15px));
    -ms-transform: translateY(calc(-50% + 15px));
    transform: translateY(calc(-50% + 15px));
    cursor: pointer;
    padding: 15px;
}

.product-card--collapsed {
    height: calc(50px + 16px);
    overflow: hidden;
}

.product-card__arrow-inner {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--purple-dark);
    border-bottom: 2px solid var(--purple-dark);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.product-card__subheader {
    color: var(--purple-light);
    font-size: 1rem;
}

.product-card__title {
    font-weight: bold;
}

.product-card__container {
    width: 100%;
    word-wrap: break-word;
}

.product-card__text--bold {
    font-weight: bold;
}

.product-card__button-outer {
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-left: 8px;
}

.product-card__button-outer::before {
    content: "-";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -6px;
}

.product-card__button-outer:hover .product-card__button-inner {
    background-color: var(--purple-dark);
    color: var(--white);
    border: 2px solid var(--purple-dark);
}

.product-card__button-inner {
    display: inline-block;
    height: auto;
    width: auto;
    border: 2px solid var(--purple-light);
    padding: 3px;
    border-radius: 10px;
    line-height: 20px;
}

.addon-card {
    border: 2px solid var(--purple-light);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 16px;
}

.addon-card__header {
    color: var(--purple-dark);
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.addon-card__arrow-outer {
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 15px);
    -webkit-transform: translateY(calc(-50% + 15px));
    -ms-transform: translateY(calc(-50% + 15px));
    transform: translateY(calc(-50% + 15px));
    cursor: pointer;
    padding: 15px;
}

.addon-card__arrow-inner {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--purple-dark);
    border-bottom: 2px solid var(--purple-dark);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.rotated {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.receipts-card {
    border: 2px solid var(--purple-light);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 16px;
}

.receipts-card__header {
    color: var(--purple-dark);
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.receipts-card__arrow-outer {
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 15px);
    -webkit-transform: translateY(calc(-50% + 15px));
    -ms-transform: translateY(calc(-50% + 15px));
    transform: translateY(calc(-50% + 15px));
    cursor: pointer;
    padding: 15px;
}

.receipts-card--collapsed {
    height: calc(50px + 16px);
    overflow: hidden;
}

.receipts-card__arrow-inner {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--purple-dark);
    border-bottom: 2px solid var(--purple-dark);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.receipts-card__subheader {
    color: var(--purple-light);
    font-size: 1rem;
}

.receipts-card__title {
    font-weight: bold;
}

.receipts-card__container {
    width: 100%;
    word-wrap: break-word;
}

.receipts-card__text--bold {
    font-weight: bold;
}

.collapsed {
    display: none;
}

.receipts-card__data-picker-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: flex-start;
    align-items: center;
}

.receipts-card__data-picker-container input {
    text-indent: 0px;
}

.receipt-card__list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-items: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.receipt-card__list-item .section-paragraph {
    margin: 0px;
}

.receipts-card__subheader {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-items: flex-start;
    align-items: center;
    margin-bottom: 15px;
}