#technologies {
    background-color: var(--yellow);
    height: auto;
    /* padding-bottom: 4rem; */
}

.technologies {
    position: relative;
}

.text-container {
    position: relative;
    padding: 1rem 0 1rem 0;
}

.technologies .text-wrapper {
    padding: 1rem 2rem 1rem 0;
    position: relative;
    max-width: 800px;
}

.technologies .background-block {
    display: block;
    width: calc(100% + 16px);
    max-width: 1200px;
    height: calc(50% - 2rem);
    margin-top: 1rem;
    background-color: var(--white);
    opacity: 40%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: -32px;
}

.slider-container {
    position: relative;
    margin-bottom: 2rem;
}

.slider {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    justify-content: space-between;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    flex-basis: 343px;
    flex-shrink: 0;
    position: relative;
    width: 343px;
    height: 459px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.card__image {
    position: absolute;
    top: 0;
    z-index: 2;
}

.card:nth-of-type(2) {
    margin: 0 1rem;
}

.card__overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.card__title {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 70%;
    font-size: 3rem;
    color: var(--white);
}

.card__button {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 10%;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--purple-light);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card__link {
    text-decoration: none;
    color: var(--white);
}

.scroll-indicators {
    position: absolute;
    display: block;
    top: 0;
    height: 50px;
    z-index: 90;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.scroll-indicators--hidden {
    display: none;
}

.indicator-arrow {
    position: absolute;
    right: 0;
}

@keyframes fade-in-arrow-1 {
    0%   { opacity: 1; }
    20%   { opacity: 0.5; }
    30%  {opacity: 0;}
}
@keyframes fade-in-arrow-2 {
    30%   { opacity: 1; }
    40%  {opacity: 0.5;}
    50% { opacity: 0; }
}
@keyframes fade-in-arrow-3 {
    50%   { opacity: 1; }
    60%  {opacity: 0.5;}
    70% { opacity: 0; }
}

.indicator-arrow:nth-of-type(1) {
    animation: fade-in-arrow-3 1s;
    animation-iteration-count:infinite;
}  

.indicator-arrow:nth-of-type(2) {
    right: 10px;
    animation: fade-in-arrow-2 1s;
    animation-iteration-count:infinite;
}
.indicator-arrow:nth-of-type(3) {
    right: 20px;
    animation: fade-in-arrow-1 1s;
    animation-iteration-count:infinite;
}

.indicator-arrow__image {
    width: 50px;
}

.slider-dots {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: -7%;
    z-index: 2;
}

.slider-dots__dot-element {
    display: block;
    width: 30px;
    height: 30px;
    margin: 12px;
    background-color: var(--purple-grey);
    border: 2px solid var(--white);
    border-radius: 100%;
}

.slider-dots__dot-element--active {
    background-color: var(--purple-light);
}