#orderConfirmation {
    height: 100vh;
}
.orderConfirmation {
    height: 100%;
}
.order-confirmation-summary {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 60ch;
    text-align: center;
}
.order-confirmation-summary > p{
    font-size: 1.1em;
    margin-top: 15px;
}
.order-confirmation-summary-text{
    font-weight: bold;
}

.order-confirmation-summary .section-header {
    text-align: center;
    line-height: 50px;
}
